body {
    background-color: rgba(0, 0, 0, 0.981);
}

.val {
    background-color: rgb(7, 255, 61);
    display: flex;
    justify-content: center;
    border: 1px; 
    border color: #000;
}

.ga {
    background-color: rgb(0, 208, 28);
    justify-content: center;
}

.go {
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.mo {
    list-style-type: none;
    padding: 20px;
    color: rgb(0, 0, 0);

}

.ko {
    background-color: darkgoldenrod;
}

.JU {
    display: flex;
    justify-content: center;
    font-size: 20px;
}